*{
	outline: 1px solid green;
}
.blog{
	background-color: #D8D8D8;
}
.blog img{
	height: 195px;
}
.blog h3{
	text-align: center;
}
.blog input{ 
	width: 180px;
	background-color: #19153A; 
	border:none; 
	color: white;
}
.blog .row{
	background-color: #BDBDBD;
	margin-top: 30px;
}
