*
{
  margin: 0;
  padding: 0;
}
#clases{
	background-color: #EDEDED;
	text-align: center;
	padding: 60px;
}
.lecciones{
	display: inline-block;
	width: 300px;
	height: 400px;
	margin: 20px;
}
.ballet{
	background: url("../img/dance_12.jpg") no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
}
.danza{
	padding: 20px;
	margin: 15px;
	position: relative;
	top: 150px;
	color: #fff;
	background: rgba(47, 47, 47, 0.7);
}
.danza h4{
	font-weight: bold;
	margin-bottom: 10px;
}
.danza p{
	font-size: 13px;
}
.modern{
	background: url("../img/breakdance.jpg") no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
}
.jazz{
	background: url("../img/lirical-jazz.jpg") no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
}
.arabic{
	background: url("../img/arabe.jpg") no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
}
.kids{
	background: url("../img/little.jpg") no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
}
.yoga{
	background: url("../img/yoga.jpg") no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
}