*{
	margin: 0;
	padding: 0;
	outline: 1px solid red;
}
/*---------Hero Section --------------------*/

.hero-section {
	background: url("../img/dance_7.jpg") no-repeat;
	background-size: cover;
	height: 400px;
}
.hero-section .nosotros{
	background-color: rgba(142, 103, 139, 0.3);
	text-align: center;
	width: 400px;
	position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);}
.nosotros h3,p {
	text-align: center;
	color: white;
}
/*---------- Instructores Section-----------------------------------*/
.container-instructores img{
	height: 150px;
}

/*--------------Esta es la seccion de la FRASE MOTIVADORA-----------*/
.frase_motivadora
{
	background: url("../img/textura_2.jpg") no-repeat;
	background-size: cover;
}